<% provide(:title, "Log in") %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Log in</h1>
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer for 15 days</span>
        <% end %>

        <%= f.submit "Log in", class: "btn btn-primary submit_cancel" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 bottom_text">
      <h5>
        <p>We use cookies to give you a fabulous customer experience and enable you to checkout on our website.</p>
          <p>By entering we will assume you are happy to receive all cookies, otherwise you can review more information on cookies <a href="http://www.whatarecookies.com/">here</a>.</p>
      </h5>
  </div>
</div>
