<div class="row invoice_box">
    <div class="col-md-12">
        <h2>Select a CSV file for creating an invoice</h2>
      <div class="btn btn-success" id="need_help_button">
        <span class="glyphicon glyphicon-question-sign"></span>
        <%=link_to 'Need help? Explained here',  help_path %>          
      </div>
        <%=form_for @invoice, html: {multipart: true} do |f|%>
            <%=f.file_field :csv, class: 'btn btn-default', id: 'choose_file_btn'%>
                <div class="submit_cancel">
                    <%=f.submit "Submit", class: 'btn btn-primary'%>
                        <%=link_to "Cancel", invoices_path, class: 'btn btn-default'%>
                </div>
                <%end%>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%if flash[:alert]%>
            <div class="row invoice_box error_box">
                <div class="col-md-12">
                    <% if @errors == nil %>
                            <div class="row">
                                <p>No valid file selected</p>
                            </div>
                    <% else %>
                        <%@errors.each do |error|%>
                            <div class="row">
                                <%=error%>
                            </div>
                            <%end%>
                    <% end %>
                </div>
            </div>
            <%end%>
    </div>
</div>
