<% provide(:title, "Signing invoice") %>


<div class="row">
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>Sign an invoice</h1>
    <h3><%=@invoice.customer_name%></h3>
    <h4><%=@invoice.subject%></h4>
    <h4><span id="invoice_number" class="lead">Invoice: <%=@invoice.invoice_number%></span><span>Date: <%=@invoice.invoice_date.to_s(:spanish)%></span></h4>
    <h3><%=@invoice.formatted_amount%></h3>
    <%= form_for(:invoice, url: invoices_sign_path) do |f| %>

      <%= f.label :signature %>
      <%= f.password_field :signature, class: 'form-control' %>

      <%= f.submit "Sign", class: "btn btn-danger submit_cancel" %>
      <%=link_to "Cancel", invoice_path(@invoice), class: 'btn btn-default submit_cancel'%>
    <% end %>
    </div>
  </div>
</div>
