<!DOCTYPE html>
<html>

<head>
    <title>
        <%= @page_title ? @page_title : 'Invoices' %> | Facturem</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%=  stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
            <%= csrf_meta_tags %>
</head>

<body>

<nav class="header-nav navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'Facturem', root_path, class: "navbar-brand" %>
      <span class="navbar-text glyphicon glyphicon-briefcase company_name"></span>
      <p class="navbar-text company_name"><%= "#{Issuer.first.tax_id} | #{Issuer.first.company_name}" %></p>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li class="<%= (params[:controller] == 'invoices' && params[:action] == 'index') ? 'active' : '' %>">
          <%= link_to 'Your invoices', root_path, class: "toggle_link" %>
      </li>
      <li class="<%= (params[:controller] == 'invoices' && params[:action] == 'new') ? 'active' : '' %>">
          <%= link_to 'Upload an invoice', new_invoice_path, class: "toggle_link" %>
      </li>
      <li class="<%= params[:controller] == 'help' ? 'active' : '' %>">
          <%= link_to 'How to create CSV files', help_path, class: "toggle_link" %>
      </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<span class="caret"></span></a>
            <ul class="dropdown-menu navbar-right" role="menu">
                <li>
                    <%=link_to "Browse invoices", root_path %>
                </li>
                <li>
                    <%=link_to "Upload invoice", new_invoice_path %>
                </li>
                <li>
                    <%=link_to "How to create CSV files", help_path %>
                </li>
                <li>
                    <%=link_to "Browse Customers", customers_path %>
                </li>
            </ul>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Alerts & Messages -->
                    <% if flash[:notice] %>
                        <div class="alert alert-success">
                            <%= flash[:notice] %>
                        </div>
                        <% end %>

                            <% if flash[:alert] %>
                                <div class="alert alert-danger">
                                    <%= flash[:alert] %>
                                </div>
                                <% end %>
                                    <%= yield %>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <p>Made at Ironhack Jan-March 2015</p>
        </div>
    </footer>

</body>

</html>
